
  .LocationList{

    background: black;
    
    max-block-size: 85vh;
 
    margin-bottom: 20px;
}




@media (max-width: 64em) {
        .LocationList{

            background: black;
            
            max-block-size: 40vh;
         
            margin-bottom: 20px;
        }
}

.ForesCast-title {
    
   
    text-align: center;
}