@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
body {
  font-family: Roboto;
  margin: unset;
  background-color: #eee;
}

.contenedor {
  padding-top: 10px;
  padding-left: 10px;
}




.detail {
  border-radius: 5px;
  margin-top: 8px;
    padding-top: 22px;
   background: grey;
    height: 100vh;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  